{% trans_default_domain 'FOSUserBundle' %}
C'est ici il t'envois dans ton show de ton account donc faudra creer les differentes pages de fosuserbundle
et les injecté dans ton base.html.twig histoire que ce soit propre ou carrement les surcoucher ou atterir a un autre
endroit si tu veux pas atterir ici qd tu créer un compte
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
