{% extends 'base.html.twig' %}

{% block body %}


    <ul>
        {% for message in messages %}
            <li>
                <b>Date :</b> {{ message.createdAt|date("d/m/Y - H:i") }} <br>
                <b>{{ message.pseudo|default(message.email) }} :</b> {{ message.message }} <br>
                <a href="{{ path("deleteMessage", {id: message.id}) }}"><i class="fa fa-trash"></i></a>
            </li>

        {% endfor %}


    </ul>

{% endblock body %}