{{ parent() }}

    <div>
        Bienvenue sur la page a propos de nous
    </div>
{% endblock %}

{% block body %}

    Il a garder toute la logique commune de base.html.twig, donc j'ai bootstrap et jquery
    il a harder le header
    et je change juste le block body avec mon contenu
    <br>

    Ici c'est le texte pour expliquer de quoi parle le site

{% endblock %}


{% block javascripts %}

    {{ parent() }}

{% endblock %}